<configuration>
  <appSettings>
    <add key="MY_ENV_VARIABLE" value="Foo bar from env!" />
  </appSettings>

  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      watchedFiles="*.js;iisnode.yml"
      gracefulShutdownTimeout="1"
      loggingEnabled="true"
      logDirectory="iisnode"
    />

    <rewrite>
      <rules>
        <rule name="test">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
