<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      watchedFiles="*.js;iisnode.yml"
      gracefulShutdownTimeout="1"
      loggingEnabled="true"
      logDirectory="iisnode"
     />

  </system.webServer>
</configuration>
